body {
  background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Belanosima", sans-serif;
}

#title {
  margin: 0x 0px 25px;
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

#image {
  border-radius: 0.5rem;
  box-shadow: 10px 10px 5px #1D2DA5;
  width: 380px;
  height: 380px;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#setup {
  color: black;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  width: 50%;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#punchline {
  color: #1D2DA5;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

#regenerate-btn {
  background-color: aliceblue;
  font-size: 1.3rem;
  padding: 5px 10px;
  margin: 0px auto 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

#answer-btn {
  background-color: aliceblue;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin: 25px auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover {
  color: rgb(22, 133, 22);
}

.figure {
  width: 100%;
  margin: 15px auto;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.figure-caption {
  margin: 25px 25px 0px;
}

#dark-mode-btn {
  border-radius: 0.5rem;
  margin: 50px 50px 25px 0px;
  align-items: right;
  font-size: 1.2rem;
}

.dark-mode {
  background-image: url(https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.dark-mode #setup{
  color: white;
}

.dark-mode #punchline{
  color: #c57eff;
}

.dark-mode #image {
  border-radius: 0.5rem;
  box-shadow: 10px 10px 5px #c57eff;;
  width: 380px;
  height: 380px;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  #title {
    font-size: 2.3rem;
  }
  #setup {
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    margin-left: 20px;
  }
  #punchline {
    font-size: 1rem;
  }
  #dark-mode-btn {
    font-size: 1rem;
  }
}
