body {
  background-image: url(https://images.unsplash.com/photo-1617957771979-a91027b58dd0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Belanosima", sans-serif;
}

#title {
  margin: 75px 0px 25px;
  font-size: 4rem;
}

#image {
  border-radius: 0.5rem;
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#quote {
  color: black;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#author {
  color: cadetblue;
  font-size: 1.5rem;
}

#regenerate-btn {
  background-color: aliceblue;
  font-size: 1.3rem;
  padding: 5px 10px;
  margin: 0px auto 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  color: green;
}

.figure {
  width: 100%;
  margin: 15px auto;
  display: inline-block; 
  justify-content: center;
  align-items: center;
}

.figure-caption {
  margin: 25px 25px 0px;
}


@media (max-width: 500px) {
  #title {
    font-size: 2.3rem;
  }
  #quote {
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    margin-left: 20px;
  }
  #author {
    font-size: 1rem;
}
}