body {
  background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Belanosima", sans-serif;
}

#title {
  margin: 50px 0px 25px;
  font-size: 1.5rem;
}

#cocktail-img {
  height: auto;
  border-radius: 0.5rem;
  display: block;
}

#regenerate-btn {
  background-color: aliceblue;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  color: green;
}

#quote {
  color: black;
  font-size: 1rem;
}

#author {
  color: cadetblue;
  font-size: 1rem;
}

.figure-caption {
  margin: 25px 25px 0px;
}

